
/* Colors
Red - #CC1556
Orange - #EF825A
Beige - #F3E8E6
Light Green - #998645
Cyan - #63C2D4
Light Blue - #50AACD
Black - #000000
*/


/* CSS Reset */

* {
	padding: 0;
	margin: 0;
}


/* Side Navigation */

.sNav {
	background-color: #000000; /* Black */
	width: 10%;
	padding-bottom: 40px;
	float: right;
	text-align: left;
}

.sNav ul {
	padding-right: 20px;
	margin-left: 40px;
}

.sNav li {
	padding-top: 48px;
}

.sNav a {
	font-size: 1em;
}


/* Nav */

nav a {
	text-decoration: none;
	color: #63C2D4; /* Cyan */
}

nav a:hover {
	color: #50AACD; /* Light Blue */
}

nav ul {
	list-style-type: none;
}


/* Header */

header {
	padding: 85px 58px;
	background-color: #CC1556; /* Red */
	width: 82%;
}

h1 {
	font-size: 7em;
}

h1, blockquote {
	text-align: left;
	color: #F3E8E6; /* Beige */
}

blockquote {
	font-size: 4em;
}


/* Main */

.information {
	background-color: #EF825A; /* Orange */
	min-height: 700px;
}

.adjusted {
	background-color: #EF825A;
	min-height: 900px;
}

h2, h3, p {
	color: #F3E8E6; /* Beige */
}

h2 {
	margin-top: 30px;
	text-align: center;
	font-size: 2em;
}

h3 {
	margin-top: 30px;
	margin-left: 27.5%;
	font-size: 1.75em;
}
	
p {
	margin-top: 20px;
	margin-right: 400px;
	margin-left: 400px;
	font-size: 1.4em;
}

img {
	margin-left: 475px;
}


/* Form */

form {
	width: 30%;
	margin-top: 2%;
	margin-left: 30%; 
	border: 10px #998645 solid; /* Light Green */
	color: #F3E8E6; /* Beige */
	background-color: #63C2D4; /* Cyan */
	padding: 50px; /* T R B L */
	font-size: 1.25em;
}

input {
	font-size: 1.1em; 
	border-radius: 5px;
	background-color: #e4f2ea;
}

input[type=text] {
	width: 70%;
}
		
input[type=email] {
	width: 98%;
}

input[type=submit] {
	background-color: red;
	color: #F3E8E6; /* Beige */
	padding: 3%;
	margin: 10%;
}

input[type=submit]:hover {
	background-color: #50AACD; /* Light Blue */
	color: #F3E8E6;	/* Beige */
	padding: 3%;
}
input[type=reset] {
	font-family: 'Merriweather', serif;
	background-color: #e4f2ea;
	color: #11181e;
	padding: 3%;
}

input[type=reset]:hover {
	background-color: orange;
	color: black;
	padding: 3%;
}

/* Footer */

.bNav {
	padding: 30px;
	width: 95.85%;
	margin-bottom: 75px;
	background-color: #000000; /* Blakc */
	min-height: 50px;
}

.bNav ul {
	display: block;
	text-align: center;
}

.bNav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
	margin-top: 1%;
}

.bNav a {
	color: #63C2D4; /* Cyan */
	text-decoration: none;
	font-size: 1.5em;
}

footer {
	background-color: #CC1556;
	max-height: 400px;/* Red */
	padding-bottom: 100px;
}

h4, h5 {
	padding: 5px;
	color: #F3E8E6;
	text-align: center;
}

h5 {
	margin-right: 400px;
	margin-left: 400px;
}




